html {
    font-size: 16px;
    line-height: 1.2;
    background-color: #eaeaea;
    font-family: Helvetica;
}

body {
    font-size: 1rem;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.25rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.75rem;
}

h5 {
    font-size: 1.5rem;
}

h6 {
    font-size: 1.3rem;
}

p {
    color: #4a4545;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

a {
    color: #6FaFFF;
}

small {
    font-size: .75rem;
}

.image {
    width: 400px;
    height: 250px;
    float: left;
    margin-right: 1rem;
}

.text--lead-in {
    font-size: 1.25rem;
    color: black;
}

.project-link {
    text-decoration: none;
    font-weight: bold;
}

.contact-link {
    border-radius: 5px;
    border: 2px solid #6FaFFF;
    background-color: white;
    width: 200px;
    margin: 0 auto;
    text-align: center;
    display: block;
    color: grey;
    text-decoration: none;
}

.contact-link:hover {
    border-style: dashed;
    color: black;
    background-color: #efefef;
    transition: background-color 2s, color 2s;
}
