<form method="post">
    <label for="name">
        Name
        <input name="name" type="text" />
    </label>

    <label for="description">
        Description
        <input name="description" type="text" />
    </label>
    <input type="submit" value="Add Cheese" />
</form>