<h1>My Cheese</h1>

<p><a asp-controller="Cheese" asp-action="Add">Add Cheese</a></p>

@if (ViewBag.cheeses.Count == 0) {
    <p>No Cheeses Yet!</p>
}

<ul>
    @foreach (KeyValuePair<string, string> cheese in ViewBag.cheeses) {
        <li>
            <form class="form-inline" method="POST" action="/Cheese/Delete">
                <b>@cheese.Key</b> => @cheese.Value

                <input name="cheese" value="@cheese.Key" type="hidden" />
                <button class="btn btn-warning" type="submit">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    Remove
                </button>
            </form>
        </li>
    }
</ul>
